.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;

}

.login-header,
.login p {
  margin-top: 25px;
  margin-bottom: 0;

}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(35,80,31);
}


.login-container {
  background: rgb(35,80,31);
  border-radius: 15px;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: rgb(0,128,77);
  border-radius: 10px;
  border-color: rgb(35,80,31);
  color: white;
  cursor: pointer;
}

.login .forgottenPassword {
    margin-left: 5px;
    background: rgb(35,80,31);
    margin-bottom:18px;
    border-color: transparent;
    color: white;
}


.login .newAccount {
    background: rgb(35,80,31);
    border-color: transparent;
    color: white;
    text-align: center;
    margin-top: 6px;
    margin-bottom: -6px;
}

#buttons {

    margin-top: 24px;
    margin-bottom: 24px;
    display:flex;
    flex-direction:column;
    align-content : center;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.createAccount {
  background: rgb(0,128,77);
  border-radius: 10px;
  border-color: rgb(35,80,31);
  color: white;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 24px;
}

.login .forgottenPassword:hover {
    color: rgb(166,202,188);
    cursor:pointer;
}

.login .newAccount:hover {
    color: rgb(166,202,188);
    cursor:pointer;
}

.login input[type="submit"]:hover {
  background: rgb(166,202,188);
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.help-block {
  color: rgb(166,202,188);
  margin-top: -6px;
  margin-left: 12px;
}


.alert {
    width: 28em;
    margin: 0 auto;
    margin-top: 15em;
    text-align: center;
    padding-top: 1em;
    border: 3px solid red;
    border-radius: 1rem;
    background-color: white;
    padding: 0.25em;
    font-size: 16px;
    color: #bb0909fd;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
