.container {
    height: 100%;
    border-radius: 6px;
    background-image: linear-gradient(0deg, #000000 25%, #005634 25%, #005634 50%, #000000 50%, #000000 75%, #005634 75%, #005634 100%);
    background-size: 4px 4px;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #c8c8c8;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h2 {
    text-align: center;
    color: white;
    background-color: transparent;
    margin-bottom: 0px;
    padding: 10px 10px;
    font-size: larger;
}

p {
    line-height: 1.6;
}

::selection {
    color: black;
    background-color: white;
}

#reserve-info {
    color: #eeff00;
}

#players-list {
    overflow-y: scroll;
    white-space: normal;
    font-size: 15px;
    flex-grow: 1;
    word-break: break-word;
    padding: 0 1em 1em;

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

#players-list::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.timer {
    color: #00ff07;
}

.player-turn {
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
}

.opponent-turn {
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
}
