<div id="chat-box" class="chat-box">
    <div class="fake-menu">
        <div class="fake-buttons fake-close"></div>
        <div class="fake-buttons fake-minimize"></div>
        <div class="fake-buttons fake-zoom"></div>
    </div>

    <h2>Boite de communication</h2>

    <div class="display" #scrollMe>
        <p
            id="list-display"
            *ngFor="let message of listMessages; let i = index; let last = last"
            [ngClass]="{
                playerStyle: listTypes[i] === htmlTypeMessage.Player,
                opponentStyle: listTypes[i] === htmlTypeMessage.Opponent,
                systemStyle: listTypes[i] === htmlTypeMessage.System,
                errorStyle: listTypes[i] === htmlTypeMessage.Error
            }"
        >
            > {{ message }}
        </p>
    </div>

    <input
        type="text"
        placeholder="Veuillez entrer un message ou une commande"
        maxlength="512"
        [(ngModel)]="message"
        (keypress)="handleKeyEvent($event)"
    />
</div>
