<h1 mat-dialog-title>Paramètres</h1>
<div mat-dialog-content id="form-name">
    <mat-form-field appearance="fill">
        <mat-label>Nom du joueur</mat-label>
        <input matInput [formControl]="form" />
        <mat-hint>
            {{ nameSize.min }}-{{ nameSize.max }} caractères
            <br />
            Les 4 premiers caractères doivent être des lettres
            <br />
            {{ specialChar }} autorisés
        </mat-hint>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="this.dialogRef.close(null)">Fermer</button>
    <button mat-raised-button mat-dialog-close (click)="this.dialogRef.close(this.form.value)" color="warn" [disabled]="!form.valid">
        Confirmer
    </button>
</div>
